.odd {
    background-color: #e79696;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.n3 {
    font-size: 50px;
}

#n2 {
    color: #0000ff;
    font-size: 36px;
}

#n4 {
    font-weight: bold;
    font-size: 24px;
    background-color: #6ce06c;
}